.desktop-folder img {
  width: 50px;
  height: 50px;
}

.desktop-folder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  height: auto;
  width: 95px;
  border: 1px solid transparent;
  font-family: 'MS Sans Serif', sans-serif;
  font-size: 14px;
  color: white;
}

.desktop-folder div {
  padding: 2px 4px;
  border: 1px dashed transparent;
}

.desktop-folder:hover {
  div {
    border: 1px dashed white;
    color: white;
    background: #000A71;
  }
}

.desktop-folder div {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
}

.folder-preview {
  position: absolute;
  width: 95px;
  height: 91px;
  border: 1px dashed white;
  pointer-events: none;
  animation: jerkup 4s infinite;
}

.selected {
  border: 1px dashed white;
}