@import '../assets/variables';

/* Desktop Folder */
.desktop-folder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: $padding-desktop-folder;
  height: auto;
  width: $desktop-folder-width;
  border: $border-dashed-transparent;
  font-family: $font-family-ms-sans;
  font-size: $font-size-desktop-folder;
  color: $white;

  &:hover {
    div {
      border: $border-dashed-white;
      color: $white;
      background: $folder-hover-bg;
    }
  }

  img {
    width: $desktop-folder-img-size;
    height: $desktop-folder-img-size;
  }

  div {
    padding: $padding-desktop-folder-div;
    border: $border-dashed-transparent;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: $desktop-folder-margin-top;
  }
}

/* Folder Preview */
.folder-preview {
  position: absolute;
  width: $folder-preview-width;
  height: $folder-preview-height;
  border: $border-dashed-white;
  pointer-events: none;
  animation: jerkup 4s infinite;
}

/* Selected State */
.selected {
  border: $border-dashed-white;
}
