.dock {
  position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.dock_content {
  width: fit-content;
  bottom: 25px;
  left: calc(50%);
  display: flex;
  gap: 1rem;
  padding: 8px 10px !important;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px) brightness(0.85) contrast(90%) grayscale(35%) saturate(174%);

  div {
    display: flex;
    align-items: center;
    padding: 4px;

    &:hover {
      background-image: linear-gradient(45deg, white 25%, transparent 25%), linear-gradient(-45deg, white 25%, transparent 25%), linear-gradient(45deg, transparent 75%, white 75%), linear-gradient(-45deg, transparent 75%, white 75%);
      background-size: 4px 4px;
      background-position: 0px 0px, 0px 2px, 2px -2px, -2px 0px;
    }
  }
}

.items_dock {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.active_dock {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: calc(50% - 3.5px);
    width: 7px;
    height: 7px;
    border-radius: 50px;
    background: white;
  }
}

.window-menu {
  position: absolute;
  transform: translateY(-230px);
  left: calc(50% - 100px);
  z-index: 1000;
  overflow-y: auto;
  display: flex;
  background: #2f3542;
  width: 300px;
  gap: 1rem;
  flex-direction: column;
  height: 160px;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.window-menu div {
  cursor: pointer;
}