.start-menu {
  position: absolute;
  top: 32px;
  left: 2px;
  display: flex;
  width: 230px;
  background-color: #B8C0C1;
  z-index: 50;
  padding: 2px;
  height: 255px;
}

.start-menu-banner {
  width: 33px;
  background: linear-gradient(to bottom, #1e90ff, #000080);
  color: #fff;
  display: flex;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "MS Sans Serif", sans-serif;
  font-size: 16px;
  padding: 5px;
}

.banner-text {
  transform: rotate(180deg);
}

.start-menu-list {
  list-style: none;
  padding: 5px;
  flex-grow: 1;
}

.start-menu-list li {
  padding: 5px 7px;
  background-color: #c0c0c0;
  font-family: "MS Sans Serif", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  position: relative;
}

.start-menu-list li img {
  width: 32px;
  height: 32px;
}

.start-menu-list li:hover {
  background-color: #000080;
  color: #fff;
}

.cv-item {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  background-color: #c0c0c0;
  border: 1px solid #000;
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu li {
  padding: 5px 10px;
  background-color: #c0c0c0;
  font-family: "MS Sans Serif", sans-serif;
  font-size: 14px;

  a {
    color: #000;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }
}

.submenu li:hover {
  background-color: #000080;
  color: #fff;
}

.cv-item:hover .submenu {
  display: block;
}
