.navigation {

  .prototypeOS {
    padding-left: 15px;
  }

  #volumeSlider {
    width: 100px;
    margin-left: 10px;
    vertical-align: middle;
  }
}
.switch-controller {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 7px 15px 7px 0;

  #power, #volume {
    width: 14px;
    height: 14px;
    cursor: pointer;
  }
}