@import '../assets/variables';

/* Notification Center */
.notification-center {
  position: absolute;
  top: 60px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 900;
  width: 300px;
  height: fit-content;

  .notification {
    background-color: $grey-light;
    border: $border-solid-grey-dark;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 2px 2px $white, -2px -2px $black;
    width: 100%;
    font-family: $font-family-ms-sans;

    &::before {
      content: none;
    }

    .notification-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $black;
      margin-bottom: 10px;
    }

    h2 {
      margin: 0;
      font-size: 16px;
    }

    div {
      font-size: 14px;
    }

    button {
      border: $border-solid-grey-dark;
      background-color: $grey-light;
      padding: 0.5em 1em;
      font-size: 14px;
      color: $black;
      box-shadow: 2px 2px $white, -2px -2px $black;
      cursor: pointer;

      &:hover {
        box-shadow: -2px -2px $white, 2px 2px $black;
      }

      &:active {
        box-shadow: inset 2px 2px $white, inset -2px -2px $black;
      }
    }
  }
}