.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
  z-index: 1000;
}

.blur-background {
  background: #ff000003;
  backdrop-filter: blur(4px);
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}