.start {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #008080, #007979, #007272, #006c6c, #006565);
  z-index: 8000;
  gap: 4rem;
}

#loading-text {
  font-family: 'Perfect DOS VGA 437 Win', 'Tahoma', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 20px;
}

.loading-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  color: lime;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  z-index: 7000;
}