@import '../assets/variables';

/* Start Screen */
.start {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #008080, #007979, #007272, #006c6c, #006565);
  z-index: 8000;
  gap: 4rem;
}

/* Loading Screen */
.loading-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #131313, #1b1b1b, #232323, #2b2b2c, #343334);
  z-index: 7000;
  padding: 3px;

  &::before, &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-size: 3px 3px;
    opacity: 0.8;
    // Optionally add a background image if needed
    // background-image: radial-gradient(circle, rgba(255,255,255,0.1) 1px, rgba(0,0,0,0) 1px);
  }
}

/* Loading Text */
#loading-text {
  font-family: $font-family-perfect;
  font-weight: 400;
  font-style: normal;
  color: $white;
  font-size: 16px;
}