@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;

  cursor: url('/images/cursor-default.png'), auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, button, input[type="button"], input[type="submit"], .desktop-folder, .items_dock {
  cursor: url('/images/cursor-pointer.png'), auto !important;
}

.block_highlights {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.d-none {
  display: none;
}

.no-select {
  user-select: none;
}

.bold {
  font-weight: 700;
}

.row-reverse {
    flex-direction: row-reverse;
    .icon_controller {
        flex-direction: row-reverse;
    }
}

.position-center {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 350px);

}
.position-top-left {
  position: absolute;
  top: 0;
  left: 0;
}
.position-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.jsdos {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  canvas {
    //AHHH UGLY HACKS
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
  }
}

.loading-text span {
  color: red;
}

.folder-type {
  font-size: 12px;
  color: gray;
}