@font-face {
  font-family: 'Perfect DOS VGA 437';
  src: url('fonts/PerfectDOSVGA437.woff2') format('woff2'),
  url('fonts/PerfectDOSVGA437.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Perfect DOS VGA 437 Win';
  src: url('fonts/PerfectDOSVGA437Win.woff2') format('woff2'),
  url('fonts/PerfectDOSVGA437Win.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MSSansSerif';
  src: url('/fonts/MSSansSerif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}