.minimized {
  animation: minimize-animation 0.5s forwards;
}

.restored {
  animation: restore-animation 0.5s forwards;
}

.loader {
  width: 85px;
  height: 35px;
  --g1:conic-gradient(from  90deg at 3px  3px ,#0000 90deg,#fff 0);
  --g2:conic-gradient(from -90deg at 22px 22px,#0000 90deg,#fff 0);
  background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  animation: l6 1.4s infinite alternate;
}

@-webkit-keyframes slide-out-blurred-bottom {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px) scaleY(2) scaleX(0.2);
    transform: translateY(1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}

@keyframes l6 {
  0%   { background-position:0 50% ,50% 50% ,100% 50% }
  20%  { background-position:0 0   ,50% 50% ,100% 50% }
  40%  { background-position:0 100%,50%  0  ,100% 50% }
  60%  { background-position:0 50% ,50% 100%,100% 0 }
  80%  { background-position:0 50% ,50% 50% ,100% 100% }
  100% { background-position:0 50% ,50% 50% ,100% 50% }
}

@keyframes minimize-animation {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: scale(0) translate(calc(100vw - 60px), calc(100vh - 60px));
    opacity: 0;
  }
}

@keyframes restore-animation {
  0% {
    transform: scale(0) translate(calc(100vw - 60px), calc(100vh - 60px));
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }
}