.w-95-border {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid #DFDFDF;
  border-left: 1px solid #DFDFDF;

  box-shadow: inset 1px 1px 0 #FFFFFF,
  inset -1px -1px 0px #667378;
}

.w-95-l-border {
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
}
