@import 'variables';

.w-95-border {
  border-right: $border-solid-black;
  border-bottom: $border-solid-black;
  border-top: $border-solid-grey-light;
  border-left: $border-solid-grey-light;

  box-shadow: $box-shadow-inset-white,
  $box-shadow-inset-grey;
}

.w-95-l-border {
  border-right: $border-solid-grey-light;
  border-bottom: $border-solid-grey-light;
  border-top: $border-solid-grey-dark;
  border-left: $border-solid-grey-dark;
}