@import 'variables';

.context-menu {
  position: absolute;
  z-index: $z-index-context-menu;
  display: flex;
  flex-direction: column;
  width: $context-menu-width;
  background-color: $white;
  border-radius: 5px;
  box-shadow: $box-shadow-context;
  border: $border-context;

  button {
    background-color: transparent;
    border: none;
    text-align: left;
    padding: $padding-context-button;
    border-bottom: $border-context;

    &:hover {
      background-color: $context-menu-hover;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
