.fade-out {
  animation: turn-on 3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

@keyframes glitch2 {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(0);
  }
  31% {
    transform: translateX(-10px);
  }
  32% {
    transform: translateX(0);
  }
  98% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

.crt-glitch {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  background: rgba(255, 255, 255, 0.01);
  z-index: 6000;
  animation: glitch-animation 8s linear infinite;
  pointer-events: none;
}

@keyframes glitch-animation {
  0% {
    top: -5%;
    height: 40px;
  }
  50% {
    height: 140px;
  }
  70% {
    height: 90px;
  }
  100% {
    top: 105%;
    height: 30px;
  }
}

@keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    filter: brightness(4);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }

  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }

  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    filter: brightness(4);
    opacity: 0;
  }

  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }

  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

.container {
  background: #121010;
  position: relative;
  overflow: hidden;
  border: 2px solid #666;
}

.container::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(transparentize(#121010, 0.9) 50%, transparentize(darken(#121010, 10), 0.55) 50%), linear-gradient(5deg, transparentize(#ff0000, 0.98), transparentize(#00ff00, 1), transparentize(#0000ff, 0.94));
  opacity: .3;
  z-index: 500;
  background-size: 100% 1.5px, 2px 100%;
  pointer-events: none;
}

@keyframes turn-off {
  0% {
    transform: scale(1, 1);
    filter: brightness(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.3, 0.001);
    filter: brightness(10);
  }
  100% {
    transform: scale(0.000, 0.0001);
    filter: brightness(50);
  }
}

body.turn-off-animation {
  animation: turn-off 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-fill-mode: forwards;
}

@keyframes jerkup {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(0.2px);
  }
  100% {
    transform: translateY(0px) ;
  }
}