.snake {
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  gap: .6rem;

  h3 {
    font-family: 'Perfect DOS VGA 437 Win', 'Tahoma', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #171717;
    font-size: 60px;
  }

  button {
    border-right: 2px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    border-top: 2px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    box-shadow: inset 2px 2px 0px #FFFFFF, inset -2px -2px 0px #667378;
    padding: .8rem;
    width: 200px;
    cursor: pointer;
    color: #191919;
    &:hover {
      color: white;
      background-color: #a2a4a6;
    }
  }
}

.color-container, .pause-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  input {
    margin-top: .3rem;
    width: 200px;
    height: 30px;
  }
}

.controller-text {
  margin-top: 1rem;
}

.pause {
  width: 64px;
  height: 64px;
}