.windows_area {
  width: 100%;
  height: calc(100vh - 140px);
}

.window {
  background: #C0C0C0;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 2px solid #DFDFDF;
  border-left: 2px solid #DFDFDF;
  box-shadow: inset 2px 2px 0px #FFFFFF, inset -2px -2px 0px #667378;
  padding: 2px;
  width: 700px;
  height: auto;
  animation: jerkup 4s infinite;
}

.fullScreen {
  transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;
}

.preview {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(15px) brightness(0.85) contrast(90%) grayscale(35%) saturate(174%);
}

.controller {
  font-family: "MS Sans Serif Bold", sans-serif;
  background-image: linear-gradient(to right, #000080, #002c9a, #004ab0, #0067c1, #1084d0);
  display: flex;
  height: 22px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 2px 4px;
  color: white;
  font-size: 14px;
  line-height: 16px;
  gap: 2rem;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: .4rem;

  img {
    width: 14px;
    height: 14px;
  }
}

.controller span {
  cursor: pointer;
}

.position-center {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 350px);
}
.position-top-left {
  position: absolute;
  top: 0;
  left: 0;
}
.position-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.content {
  height: calc(100% - 31px);
  border-right: 2px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
  border-top: 2px solid #DFDFDF;
  border-left: 1px solid #DFDFDF;

  box-shadow: inset 2px 2px 0px #FFFFFF,
  inset -2px -2px 0px #667378;

  margin: 8px 0 0 0;

  gap: 10px;
  display: flex;
}

.controller-settings {
  margin-top: 1rem;
}

.windows95-btn-controller {
  display: flex;
  gap: 0.15rem;
}

/* New Windows */

.w-95-position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 535px;

  &_out {
    position: absolute;
    top: 76%;
    left: 63%;
    transform: translateX(-50%) translateY(-50%);
    width: 220px;
    text-align: center;

    .button-container {
      display: flex;
      width: 100%;
      justify-content: center;
      padding-bottom: 8px;
    }
  }

  &_bottomleft {
    position: absolute;
    top: 40px;
    left: 10px;
    width: 280px;
    text-align: center;

    .button-container {
      display: flex;
      width: 100%;
      justify-content: center;
      padding-bottom: 8px;
    }
  }
}

.windows95-footer {
  display: flex;
  gap: 0.2rem;
  padding: 2px;
  font-family: "MS Sans Serif", sans-serif;
  font-size: 12px;
  div {
    width: 50%;
    height: 20px;
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    display: flex;
    align-items: center;
    padding: 0 4px;
  }
}

.windows95-box {
  height: auto;
  background: #C0C0C0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid #DFDFDF;
  border-left: 1px solid #DFDFDF;

  box-shadow: inset 1px 1px 0px #FFFFFF,
  inset -1px -1px 0px #667378;

  padding: 2px;

  .bold {
    font-size: 14px;
  }

  .windows95-controller {
    background-image: linear-gradient(to right, #000080, #002c9a, #004ab0, #0067c1, #1084d0);
    display: flex;
    justify-content: space-between;
    padding: 3px;
    color: white;
    font-size: 14px;
    line-height: 16px;
    gap: 2rem;
  }

  .windows95-paragraph {
    padding: 10px;
    font-size: 15px;
    line-height: 16.5px;
  }
}